@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat";
}
a {
  text-decoration: none !important;
}
.card {
  height: 250px !important;
  margin-bottom: 20px !important;
}
.card-body h6 {
  height: 50px;
}
.table {
  width: 96% !important;
  margin: 50px auto auto 30px;
  padding-top: 10px;
}
.promoWrapper {
  margin-left: 100px;
}
.promoWrapper input {
  width: 200px;
  margin-bottom: 15px;
  border: 1px solid rgba(128, 128, 128, 0.476);
}
.promoBtn {
  background-color: green !important;
  border: none;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 15px;
  color: white !important;
}
.body-container2 {
  background: white;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;  */
  /* flex-direction: column; */
  font-family: "Montserrat", sans-serif;
  /* height: 100vh; */
  /* margin: 20px 0 50px; */
  width: 60%;
  position: absolute !important;
  top: 320px !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.summay {
  width: 30% !important  ;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  margin: 5px 10px 10px auto;
}
* {
  box-sizing: border-box;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.sign-up-container {
  left: 0;
  width: 50%;
  /* opacity: 0; */
  z-index: 1;
}
.form-container {
  position: absolute;
  top: 0;
  /* height: 100%; */
  transition: all 0.6s ease-in-out;
}
form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.form1 input {
  width: 100%;
}
h1,
h2 {
  text-align: center;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h1 {
  font-weight: 700;
  margin: 0;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.forgot-pwd-btn-conainer {
  display: flex;
  flex-direction: row;
}

.forgot-pwd-btn-conainer .go-to-login-btn {
  border: 2px solid #f34729;
  background: #fff;
  color: #f34729;
}
.forgot-pwd-btn-conainer button {
  padding: 0px 12px;
  margin: 0 6px;
  text-decoration: none;
}
.forgot-pwd-btn-conainer a {
  padding: 12px;
  border-radius: 20px;
  margin: 0 6px;
  text-decoration: none;
}
.reset-pwd-btn {
  border: 2px solid #f34729;
  color: #fff !important;
  background: #f34729;
  text-decoration: none;
}
#hide {
  display: none;
  color: #ff4b2b;
}
button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;

  cursor: pointer;
}
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.signInBtn {
  background-color: #ff4b2b;
  color: #eee;
  padding: 0 15px;
  border: none;
  outline: none;
  transition: 0.2s;
}
.signInBtn:hover {
  scale: 1.1;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.checkbox-container {
  text-align: left;
}
.checkbox-container span {
  width: 100%;
  display: flex;

  padding: 0 5px;
  margin: 6px;
}
span {
  font-size: 12px;
}
.checkbox-container span input[type="checkbox"] {
  width: auto;
  float: left;
}
label {
  cursor: default;
  margin-left: 10px;
  margin-top: 6px;
}
.checkbox-container {
  text-align: left;
}
.forgot-pwd-container {
  margin: 15px 0;
}

.forgot-pwd-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  z-index: 9999;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;

  z-index: 100;
}
.overlay {
  background: #ff416c;
  background: linear-gradient(90deg, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.overlay-right {
  right: 0;
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(90deg, #ff4b2b, #ff416c); */
  width: 100%;
  padding: 50px;

  text-align: center;
}
.details h1 {
  font-size: 45px;
  font-weight: 700;
}
.details p {
  font-size: 25px;
}
.active {
  padding: 10px;
  background: linear-gradient(90deg, #ff4b2b, #ff416c);
  border-radius: 5px;
}
.go-to-login-btn,
.reset-pwd-btn {
  text-decoration: none;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px !important;
  align-items: center;
  background-color: #103a7157;
  color: white;
  z-index: 9999;
}
.bg-back {
  background-image: url(../public/bg.jpg);
  filter: blur(10px);
  /* -webkit-filter: blur(8px); */
  height: 100vh;
  object-fit: fill;
}
.landingpage {
  /* background-color: #ff4b2bc8; */

  /* -webkit-filter: blur(8px); */
  color: #ffffff;

  height: 100vh;
}
.navbar {
  padding: 0 20px;

  width: 40%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.navbar li {
  list-style-type: none;
}
.navbar a {
  color: white !important;
  text-decoration: none;
}

.nav h1 {
  font-size: 60px;
}
.details p {
  font-size: 30px;
  font-weight: bold;
}
